
h3, p, h6{
    text-align: center;
    color: white;
}

p{
    font-size: 13.5px;
    color: white;
}
hr{
    color: white;
    background-color: white;
    border: 0.05px solid rgb(129, 124, 124);
}

.but{
    width: 100%;
    border-color: rgba(0, 0, 0, 0);
	background-color: rgba(0, 0, 0, 0);
    color: rgb(0, 0, 0);
    color: white;
}
.card{
    border-color: rgba(0, 0, 0, 0);
	background-color: rgba(0, 0, 0, 0);
    border: 1px solid rgb(118, 129, 134);
    border-radius: 11px;
    color: white;
    

}

#cont{
    width: 60%;
    align-content: center;
    border: 0px solid rgb(120, 139, 148);
    text-align: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
    color: white;
}
.outer{
    height: 15%;
    display: block;
    color: white;
}



#all{
    background-color: #363C4A;
    color: white;
    height: 100%;
    width: 100%;

}
#all2{
    background-color: #363C4A;
    color: white;
   

}
